<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="testWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <testWPF.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Integrated Security=SSPI; Initial Catalog=TradeAnisimov;Data Source=DESKTOP-QAPGNM7</value>
            </setting>
        </testWPF.Properties.Settings>
    </userSettings>
</configuration>